@import "tailwindcss";

:root {
}

@theme inline {
  /* Font size: 14px */
  --text-base: 0.875rem;

  /* Headings, CTA, Header: Raleway */
  /* Body: Open Sans */

  --font-sans: var(--font-open-sans);
  --font-heading: var(--font-raleway-sans);

  /* Primary Colors */
  /* Intro and email sign up background */
  --color-navy-850: hsl(217, 28%, 15%);
  /* Main Background */
  --color-navy-900: hsl(218, 28%, 13%);
  /* Footer Background */
  --color-navy-950: hsl(216, 53%, 9%);
  /* Testimonials Background */
  --color-navy-800: hsl(219, 30%, 18%);

  /* Accent Colors */
  /* Inside CTA gradient: */
  --color-teal-200: hsl(176, 68%, 64%);
  --color-cyan-500: hsl(198, 60%, 50%);
  /* Danger */
  --color-red-500: hsl(0, 100%, 63%);

  /* Icon sources: FontAwesome, IcoMoon, IonIcons */
}

* {
  @apply outline outline-yellow-300;
}

body {
  background: var(--color-navy-900);
  color: var(--color-white);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

.btn {
  @apply bg-linear-to-r from-teal-200 via-teal-200 to-cyan-500 px-8 py-2 rounded-full;
  @apply text-xl font-heading font-bold;
  @apply bg-size-[200%] bg-position-[100%] hover:bg-position-[0%] motion-safe:duration-300 ease-in-out;
}
